body{
	background-color: #E9EAED;
}

.content{
	width: 90% !important;
}

.parallax-container {
	width: 100%;
}

.profile-card {
	min-height: 80vh;
}	

.avatar img{
	width: 160px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
                      margin: -80px auto 0;
}
.indie{
	border-bottom: solid #e5e8ef 1px;
	padding: 9px;
}

.team{
	min-height: 80%;
}