.all {
    min-height: 100vh;
}

.side-nav a {
    text-transform: capitalize;
}

.side-nav .dropdown-content {
    width: auto !important;
    margin-left: 18px !important;
    margin-top: 10px !important;
}

.side-nav .dropdown-content li { 
    min-height: auto !important;
}

.search i {
  	margin-top: .7rem;
  	color: #777;
  	font-size: 1.9rem !important;
}

.search i.active {
    color: #333 !important;
}

.search .input-field input[type=text] {
    border-bottom: 		1px solid transparent !important;
  	-webkit-box-shadow: 0 1px 0 0 transparent !important;
  	-moz-box-shadow: 	0 1px 0 0 transparent !important;
  	box-shadow: 		0 1px 0 0 transparent !important;
}

.search .input-field input[type=text]:focus {
    border-bottom: 		1px solid transparent !important;
  	-webkit-box-shadow: 0 1px 0 0 transparent !important;
  	-moz-box-shadow: 	0 1px 0 0 transparent !important;
  	box-shadow: 		0 1px 0 0 transparent !important;
}

.card:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.28), 
                0 1px 5px 0 rgba(0,0,0,0.24), 
                0 3px 1px -2px rgba(0,0,0,0.4);
}

.collapsible-header {
    padding: 0 32px 0 28px !important;
}

.collapsible-header span {
    padding-left: 4px;
}

.copyright,
.copyright a {
    color: #777;
}

.copyright a:hover {
    color: #333;
}

.table-data {
    min-width: calc(100vw - 300px);
}

.image-user {
    width: 80px;
}

.card-image {
    height: 130px;
    overflow: hidden;
    background: #f0f0f0;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    height: auto !important;
    width: 100% !important;
}

.file-group .btn-floating {
    width: 28px;
    height: 28px;
    line-height: 28px;
}

.file-group .btn-floating i {
    line-height: 28px;
}