body {
    background-color: #F5F5F5 !important;
}

.chips {
    border-bottom: 1px solid #fff !important;
}

.chip.selected {
    background-color: #1976d2 !important;
}

.card-image {
    height: 185px !important;
}

.card-image div {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    /*background-position: center ;*/
    background-repeat: no-repeat;
}

.back-banner {
    width: 100%;
    height: 40vh;
}

.back-banner .card-title {
    line-height: 20px
}

.back-banner .title {
    line-height: 5rem;
}

.title-category {
    color: #a8a8a8;
    line-height: 20px;
    text-transform: capitalize;
}

.chips .input {
    color: #fff !important
}
