.back-project {
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.tabs {
	border-bottom: 1px solid #eee;
}

.card-image {
	height: 130px;
	overflow: hidden;
	background: #f0f0f0;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-image img {
	height: auto !important;
	width: 100% !important;
}

.file-group .btn-floating {
	width: 28px;
	height: 28px;
	line-height: 28px;
}

.file-group .btn-floating i {
	line-height: 28px;
}