.parallax-top {
    /*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%) !important;*/
    width: 100%;
    height: 520px !important
}

.parallax-footer {
    height: 400px !important;
}

.margin-custom {
    margin-top: 9em !important
}

.card-image {
    height: 185px !important;
}

.card-image-explore {
    height: 185px !important;
    cursor: pointer;
}

.image-project div {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    /*background-position: center ;*/
    background-repeat: no-repeat;
}

.font-title {
    font-size: 1.3em
}

.data-colec a {
    color: #000 !important;
}

.data-colec a.active {
    color: #039be5 !important;
}

.back-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    transition: .3s ease-in-out;
}

.card-image-explore:hover .back-overlay {
    background-color: rgba(0, 0, 0, 0.25);
}

.card-panel {
    margin: .1rem 0 1rem 0 !important;
}

.circle {
    width: 45px !important;
    height: 45px !important;
    max-width: 45px !important;
}

.carousel .carousel-item>img{
    height: 200px !important;
}
/*.carousel.initialized{
    height: 170px !important;
}*/
/*.carousel .carousel-item>img{
    width: 200px !important;
    height: 170px !important;
}*/