.back-login {
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.card{
    box-shadow:  0 6px 10px 0 rgba(0, 0, 0, 0.14),
                  0 1px 18px 0 rgba(0, 0, 0, 0.12),
                  0 3px 5px -1px rgba(0, 0, 0, 0.4) !important;
    width: 450px !important;
}
.banner {
    background-size: cover;
    width: 100%;
    height: 100%
}

.title {
    line-height: 20px;
}

.card-tabs .tabs {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.tabs .indicator {
    background-color: #ab47bc !important;
}

.input-field textarea:focus+label,
.input-field input:focus+label {
    color: #ab47bc !important;
}

.input-field textarea:focus,
.input-field input:focus {
    border-bottom: 1px solid #ab47bc !important;
    box-shadow: 0 1px 0 0 #ab47bc !important;
}

.input-field textarea.valid,
.input-field input.valid {
    border-bottom: 1px solid #ab47bc !important;
    box-shadow: 0 1px 0 0 #ab47bc !important;
}

.input-field textarea.invalid,
.input-field input.invalid {
    border-bottom: 1px solid #ab47bc !important;
    box-shadow: 0 1px 0 0 #ab47bc !important;
}

.input-field .prefix.active {
    color: #ab47bc !important;
}
