.input-field input[type=search] {
    background: #fff;
}

.wrapper-search {
    transition: all .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
}

.icons-nav {
    color: #000 !important;
}

i.size {
    font-size: 1.3rem !important
}

.height-full {
    height: 100% !important;
}

.search-wrapper {
    margin: 10px 12px;
}

.search-wrapper #search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
    color: #000;
}

.search-wrapper i.material-icons {
    position: absolute;
    top: -5px;
    right: 10px;
}

#search:focus {
    border-bottom: 0px;
    box-shadow: none;
}

.img-user {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-size: cover;
}

.fotos {
    height: 60px
}

.navbar-dropdown.active {
    /*top: 60px !important;*/
    left: 1242px !important
}