.parallax-container {
	width: 100%;
}

.profile-card {
	min-height: 80vh;
}

.card-image-profile img {
	width: 150px;
}

.follow-btn {
	text-transform: capitalize !important;
	transition: all 3s ease-in-out;
}

.tabs {
	border-bottom: 1px solid #ddd;
}

.tabs .indicator {
	background-color: #303f9f !important;
}

.my-project .card-image {
	overflow: hidden;
}

.see-details {
	text-transform: capitalize !important;
}


.carousel .carousel-item>.image {
    height: 200px !important;
    width: 100%;
    background-size: cover
}

.carousel.carousel-slider {
    height: 200px !important;
}
.custom-padding {
    padding: 6px 24px 24px 24px;
}

.profile-top input:not([type]):focus:not([readonly]), .profile-top input[type=text]:focus:not([readonly]), .profile-top input[type=password]:focus:not([readonly]), .profile-top input[type=email]:focus:not([readonly]), .profile-top input[type=url]:focus:not([readonly]), .profile-top input[type=time]:focus:not([readonly]), .profile-top input[type=date]:focus:not([readonly]), .profile-top input[type=datetime]:focus:not([readonly]), .profile-top input[type=datetime-local]:focus:not([readonly]), .profile-top input[type=tel]:focus:not([readonly]), .profile-top input[type=number]:focus:not([readonly]), .profile-top input[type=search]:focus:not([readonly]), .profile-top textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

.profile-detail input:not([type]):focus:not([readonly]), .profile-detail input[type=text]:focus:not([readonly]), .profile-detail input[type=password]:focus:not([readonly]), .profile-detail input[type=email]:focus:not([readonly]), .profile-detail input[type=url]:focus:not([readonly]), .profile-detail input[type=time]:focus:not([readonly]), .profile-detail input[type=date]:focus:not([readonly]), .profile-detail input[type=datetime]:focus:not([readonly]), .profile-detail input[type=datetime-local]:focus:not([readonly]), .profile-detail input[type=tel]:focus:not([readonly]), .profile-detail input[type=number]:focus:not([readonly]), .profile-detail input[type=search]:focus:not([readonly]), .profile-detail textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #303f9f  !important;
    box-shadow: 0 1px 0 0 #303f9f  !important;
}

.contribution span {
	color: #333;
}
